<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/styles/homePage.css" />
  </head>
  <%# Header %>
  <header>
    <div class="container header-container">
      <header
        class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
        >
          <span class="fs-4">Web name</span>
        </a>

        <ul class="nav nav-pills">
          <li>
            <a href="/" class="nav-link active" aria-current="page">Home</a>
          </li>
          <li class="front">
            <button
              type="button"
              class="btn btn-primary dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Product
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </li>
          <li class="front">
            <button
              type="button"
              class="btn btn-primary dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Solutions
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </li>
          <li class="front">
            <button
              type="button"
              class="btn btn-primary dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Resources
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="/pricing" class="nav-link">Pricing</a>
          </li>
          <li class="nav-item"><a href="#" class="nav-link">Enterprise</a></li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contact Sales</a>
          </li>
          <li>
            <a href="/login" class="nav-link active" aria-current="page"
              >Login</a
            >
          </li>
          <li>
            <a href="/register" class="nav-link active" aria-current="page"
              >Register</a
            >
          </li>
        </ul>
      </header>
    </div>
  </header>
  <%# Body %>
  <body>
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold text-body-emphasis">
        The everything app, for work.
      </h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          One app for projects, knowledge, conversations and more. Get more done
          faster—together.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
            Get started. It's FREE!
          </button>
        </div>
      </div>
    </div>
    <div class="container my-5">
      <div
        class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
      >
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 fw-bold lh-1 text-body-emphasis">
            Set up your Workspace
          </h1>
          <p class="lead">Start with what you need, customize as you go.</p>
          <div
            class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3 button-flex-container"
          >
            <button
              type="button"
              class="btn btn-outline-secondary btn-lg px-4 item-1-button-flex-container"
            >
              Tasks
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary btn-lg px-4 item-2-button-flex-container"
            >
              Chat
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary btn-lg px-4 item-3-button-flex-container"
            >
              AI
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary btn-lg px-4 item-4-button-flex-container"
            >
              Sprints
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary btn-lg px-4 item-5-button-flex-container"
            >
              Time Tracking
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary btn-lg px-4 item-6-button-flex-container"
            >
              Calendar
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary btn-lg px-4 item-7-button-flex-container"
            >
              Docs
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary btn-lg px-4 item-8-button-flex-container"
            >
              Goals
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary btn-lg px-4 item-9-button-flex-container"
            >
              Dashboards
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary btn-lg px-4 item-10-button-flex-container"
            >
              Whiteboards
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary btn-lg px-4 item-11-button-flex-container"
            >
              Forms
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary btn-lg px-4 item-12-button-flex-container"
            >
              Automation
            </button>
            <button
              type="button"
              class="btn btn-primary btn-lg px-4 me-md-2 fw-bold item-13-button-flex-container"
            >
              Get started
            </button>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="/img/doge.webp" alt="" width="720" />
        </div>
      </div>
      <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold text-body-emphasis">Work is broken</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            App-switching fragments work, steals time, and kills productivity.
          </p>
          <div
            class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"
          ></div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh">
          <div class="container px-5">
            <img
              src="/img/doge.webp"
              class="img-fluid border rounded-3 shadow-lg mb-4"
              alt="Example image"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold text-body-emphasis">Let's fix it</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            With all your projects, knowledge, and conversations in one app,
            everything just clicks.
          </p>
          <div
            class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"
          ></div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh">
          <div class="container px-5">
            <img
              src="/img/doge.webp"
              class="img-fluid border rounded-3 shadow-lg mb-4"
              alt="Example image"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex gap-2 justify-content-center py-5">
      <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
        Get Started. It's FREE
      </button>
    </div>
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img
            src="/img/doge.webp"
            class="d-block mx-lg-auto img-fluid"
            alt="Bootstrap Themes"
            width="700"
            height="500"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
            Save time and get more done
          </h1>
          <p class="lead">
            <strong>
              Supercharge productivity. Streamline work by doing it, and seeing
              it, in one place.</strong
            >
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne"
                    aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne"
                  >
                    Improve collaboration
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseOne"
                  class="accordion-collapse collapse show"
                >
                  <div class="accordion-body">
                    <strong
                      >Get your teams working together more closely, even if
                      they’re far apart.
                    </strong>
                    Centralize project-related communications in one place,
                    brainstorm ideas with Whiteboards, and draft plans together
                    with collaborative Docs.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo"
                  >
                    Enhance visibility
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseTwo"
                  class="accordion-collapse collapse"
                >
                  <div class="accordion-body">
                    <strong
                      >Ditch the needless meetings and repetitive updates.
                    </strong>
                    With a single source of truth for all ongoing projects
                    across your entire org, you get a crystal-clear view of
                    what's happening (or not), and who's responsible.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree"
                  >
                    Automate work
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseThree"
                  class="accordion-collapse collapse"
                >
                  <div class="accordion-body">
                    <strong>
                      Streamline business processes without breaking a
                      sweat.</strong
                    >
                    Whether it's onboarding employees, handling IT requests, or
                    managing expense reimbursements, you can automate it all
                    with powerful no-code automation.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container my-5">
      <div
        class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
      >
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 fw-bold lh-1 text-body-emphasis">
            One AI for all your work
          </h1>
          <p class="lead">
            <strong>Instantly power up company-wide AI</strong> that connects
            every aspect of your work, across all your apps.
          </p>
          <div
            class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3"
          >
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">
              Try for free
            </button>
            <button
              type="button"
              class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"
            >
              Learn more
            </button>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="/img/doge.webp" alt="" width="720" />
        </div>
      </div>
    </div>
    <div class="d-flex gap-2 justify-content-center py-5">
      <button
        class="btn btn-outline-secondary d-inline-flex align-items-center"
        type="button"
      >
        PMO
      </button>
      <button
        class="btn btn-outline-secondary d-inline-flex align-items-center"
        type="button"
      >
        Marketing
      </button>
      <button
        class="btn btn-outline-secondary d-inline-flex align-items-center"
        type="button"
      >
        Product
      </button>
      <button
        class="btn btn-outline-secondary d-inline-flex align-items-center"
        type="button"
      >
        Engineering
      </button>
      <button
        class="btn btn-outline-secondary d-inline-flex align-items-center"
        type="button"
      >
        Agencies
      </button>
      <button
        class="btn btn-outline-secondary d-inline-flex align-items-center"
        type="button"
      >
        See all teams
      </button>
    </div>
    <div class="container my-5">
      <div
        class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
      >
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 fw-bold lh-1 text-body-emphasis">
            Deliver projects on time, every time
          </h1>
          Get teams running more efficiently with a complete project management
          solution.
          <ul>
            <li>Reduce delivery time with custom templates</li>
            <li>Track effort to impact with OKR planning</li>
            <li>Manage complex projects at scale</li>
          </ul>
          <div
            class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3"
          ></div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <div
            class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center"
          >
            <div class="list-group">
              <a
                href="#"
                class="list-group-item list-group-item-action d-flex gap-3 py-3"
                aria-current="true"
              >
                <img
                  src="https://github.com/twbs.png"
                  alt="twbs"
                  width="32"
                  height="32"
                  class="rounded-circle flex-shrink-0"
                />
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-0">Flexible workflows for every team</h6>
                  </div>
                </div>
              </a>
              <a
                href="#"
                class="list-group-item list-group-item-action d-flex gap-3 py-3"
                aria-current="true"
              >
                <img
                  src="https://github.com/twbs.png"
                  alt="twbs"
                  width="32"
                  height="32"
                  class="rounded-circle flex-shrink-0"
                />
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-0">Tasks, docs, spreadsheets, and more</h6>
                  </div>
                </div>
              </a>
              <a
                href="#"
                class="list-group-item list-group-item-action d-flex gap-3 py-3"
                aria-current="true"
              >
                <img
                  src="https://github.com/twbs.png"
                  alt="twbs"
                  width="32"
                  height="32"
                  class="rounded-circle flex-shrink-0"
                />
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-0">Resource and workload optimization</h6>
                  </div>
                </div>
              </a>
              <a
                href="#"
                class="list-group-item list-group-item-action d-flex gap-3 py-3"
                aria-current="true"
              >
                <img
                  src="https://github.com/twbs.png"
                  alt="twbs"
                  width="32"
                  height="32"
                  class="rounded-circle flex-shrink-0"
                />
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-0">Dashboards and insights</h6>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="flex-1-container">
            <button
              type="button"
              class="btn btn-primary btn-lg px-4 me-md-2 fw-bold item-1-flex-container"
            >
              Use this Solution
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <h1 class="display-4 fw-bold text-body-emphasis">
        Everything your team is looking for
      </h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          <strong
            >ClickUp’s exceptional flexibility can handle any type of
            work.</strong
          >
          And we never stop innovating.
        </p>
      </div>
      <div class="flex-2-container" style="margin: 100px;">
        <div class="grid-container">
          <div class="item-grid-container item-1-grid-container">
            <div class="col">
              <div
                class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-1.jpg')"
              >
                <div
                  class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
                >
                  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                    AI-powered productivity
                  </h3>
                  <ul class="d-flex list-unstyled mt-auto">
                    <li class="me-auto">
                      <img
                        src="https://github.com/twbs.png"
                        alt="Bootstrap"
                        width="32"
                        height="32"
                        class="rounded-circle border border-white"
                      />
                    </li>
                    <li class="d-flex align-items-center me-3">
                      <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#geo-fill"></use>
                      </svg>
                      <small>Earth</small>
                    </li>
                    <li class="d-flex align-items-center">
                      <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#calendar3"></use>
                      </svg>
                      <small>3d</small>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="item-grid-container item-2-grid-container">
            <div class="col">
              <div
                class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-1.jpg')"
              >
                <div
                  class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
                >
                  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                    View work your way
                  </h3>
                  <ul class="d-flex list-unstyled mt-auto">
                    <li class="me-auto">
                      <img
                        src="https://github.com/twbs.png"
                        alt="Bootstrap"
                        width="32"
                        height="32"
                        class="rounded-circle border border-white"
                      />
                    </li>
                    <li class="d-flex align-items-center me-3">
                      <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#geo-fill"></use>
                      </svg>
                      <small>Earth</small>
                    </li>
                    <li class="d-flex align-items-center">
                      <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#calendar3"></use>
                      </svg>
                      <small>3d</small>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="item-grid-container item-3-grid-container">
            <div class="col">
              <div
                class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-1.jpg')"
              >
                <div
                  class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
                >
                  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                    Customize in a click
                  </h3>
                  <ul class="d-flex list-unstyled mt-auto">
                    <li class="me-auto">
                      <img
                        src="https://github.com/twbs.png"
                        alt="Bootstrap"
                        width="32"
                        height="32"
                        class="rounded-circle border border-white"
                      />
                    </li>
                    <li class="d-flex align-items-center me-3">
                      <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#geo-fill"></use>
                      </svg>
                      <small>Earth</small>
                    </li>
                    <li class="d-flex align-items-center">
                      <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#calendar3"></use>
                      </svg>
                      <small>3d</small>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="item-grid-container item-4-grid-container">
            <div class="col">
              <div
                class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-1.jpg')"
              >
                <div
                  class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
                >
                  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                    Plays well with others
                  </h3>
                  <ul class="d-flex list-unstyled mt-auto">
                    <li class="me-auto">
                      <img
                        src="https://github.com/twbs.png"
                        alt="Bootstrap"
                        width="32"
                        height="32"
                        class="rounded-circle border border-white"
                      />
                    </li>
                    <li class="d-flex align-items-center me-3">
                      <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#geo-fill"></use>
                      </svg>
                      <small>Earth</small>
                    </li>
                    <li class="d-flex align-items-center">
                      <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#calendar3"></use>
                      </svg>
                      <small>3d</small>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="item-grid-container item-5-grid-container">
            <div class="col">
              <div
                class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-1.jpg')"
              >
                <div
                  class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
                >
                  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                    Search everything
                  </h3>
                  <ul class="d-flex list-unstyled mt-auto">
                    <li class="me-auto">
                      <img
                        src="https://github.com/twbs.png"
                        alt="Bootstrap"
                        width="32"
                        height="32"
                        class="rounded-circle border border-white"
                      />
                    </li>
                    <li class="d-flex align-items-center me-3">
                      <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#geo-fill"></use>
                      </svg>
                      <small>Earth</small>
                    </li>
                    <li class="d-flex align-items-center">
                      <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#calendar3"></use>
                      </svg>
                      <small>3d</small>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="item-grid-container item-6-grid-container">
            <div class="col">
              <div
                class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-1.jpg')"
              >
                <div
                  class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
                >
                  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                    Stay ahead of what’s next
                  </h3>
                  <ul class="d-flex list-unstyled mt-auto">
                    <li class="me-auto">
                      <img
                        src="https://github.com/twbs.png"
                        alt="Bootstrap"
                        width="32"
                        height="32"
                        class="rounded-circle border border-white"
                      />
                    </li>
                    <li class="d-flex align-items-center me-3">
                      <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#geo-fill"></use>
                      </svg>
                      <small>Earth</small>
                    </li>
                    <li class="d-flex align-items-center">
                      <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#calendar3"></use>
                      </svg>
                      <small>3d</small>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="item-grid-container item-7-grid-container">
            <div class="col">
              <div
                class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-1.jpg')"
              >
                <div
                  class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
                >
                  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                    Trusted by over 2,000,000 teams
                  </h3>
                  <ul class="d-flex list-unstyled mt-auto">
                    <li class="me-auto">
                      <img
                        src="https://github.com/twbs.png"
                        alt="Bootstrap"
                        width="32"
                        height="32"
                        class="rounded-circle border border-white"
                      />
                    </li>
                    <li class="d-flex align-items-center me-3">
                      <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#geo-fill"></use>
                      </svg>
                      <small>Earth</small>
                    </li>
                    <li class="d-flex align-items-center">
                      <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#calendar3"></use>
                      </svg>
                      <small>3d</small>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%# Footer %>
  <footer>
    <div class="container">
      <footer
        class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top"
      >
        <div class="col mb-3">
          <a
            href="/"
            class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
          >
            <svg class="bi me-2" width="40" height="32">
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
          <p class="text-body-secondary">© 2025</p>
        </div>

        <div class="col mb-3"></div>

        <div class="col mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">About</a>
            </li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">About</a>
            </li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-body-secondary">About</a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
    <div class="socials-container">
      <a
        data-social="Twitter"
        style="--accent-color: black"
        href="https://x.com/codingtogo"
      >
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <title>X</title>
          <path
            d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"
          />
        </svg>
      </a>
      <a
        data-social="YouTube"
        style="--accent-color: red"
        href="https://youtube.com/@coding2go"
      >
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <title>YouTube</title>
          <path
            d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"
          />
        </svg>
      </a>
      <a data-social="Instagram" style="--accent-color: #fe107c" href="#">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <title>Instagram</title>
          <path
            d="M7.0301.084c-1.2768.0602-2.1487.264-2.911.5634-.7888.3075-1.4575.72-2.1228 1.3877-.6652.6677-1.075 1.3368-1.3802 2.127-.2954.7638-.4956 1.6365-.552 2.914-.0564 1.2775-.0689 1.6882-.0626 4.947.0062 3.2586.0206 3.6671.0825 4.9473.061 1.2765.264 2.1482.5635 2.9107.308.7889.72 1.4573 1.388 2.1228.6679.6655 1.3365 1.0743 2.1285 1.38.7632.295 1.6361.4961 2.9134.552 1.2773.056 1.6884.069 4.9462.0627 3.2578-.0062 3.668-.0207 4.9478-.0814 1.28-.0607 2.147-.2652 2.9098-.5633.7889-.3086 1.4578-.72 2.1228-1.3881.665-.6682 1.0745-1.3378 1.3795-2.1284.2957-.7632.4966-1.636.552-2.9124.056-1.2809.0692-1.6898.063-4.948-.0063-3.2583-.021-3.6668-.0817-4.9465-.0607-1.2797-.264-2.1487-.5633-2.9117-.3084-.7889-.72-1.4568-1.3876-2.1228C21.2982 1.33 20.628.9208 19.8378.6165 19.074.321 18.2017.1197 16.9244.0645 15.6471.0093 15.236-.005 11.977.0014 8.718.0076 8.31.0215 7.0301.0839m.1402 21.6932c-1.17-.0509-1.8053-.2453-2.2287-.408-.5606-.216-.96-.4771-1.3819-.895-.422-.4178-.6811-.8186-.9-1.378-.1644-.4234-.3624-1.058-.4171-2.228-.0595-1.2645-.072-1.6442-.079-4.848-.007-3.2037.0053-3.583.0607-4.848.05-1.169.2456-1.805.408-2.2282.216-.5613.4762-.96.895-1.3816.4188-.4217.8184-.6814 1.3783-.9003.423-.1651 1.0575-.3614 2.227-.4171 1.2655-.06 1.6447-.072 4.848-.079 3.2033-.007 3.5835.005 4.8495.0608 1.169.0508 1.8053.2445 2.228.408.5608.216.96.4754 1.3816.895.4217.4194.6816.8176.9005 1.3787.1653.4217.3617 1.056.4169 2.2263.0602 1.2655.0739 1.645.0796 4.848.0058 3.203-.0055 3.5834-.061 4.848-.051 1.17-.245 1.8055-.408 2.2294-.216.5604-.4763.96-.8954 1.3814-.419.4215-.8181.6811-1.3783.9-.4224.1649-1.0577.3617-2.2262.4174-1.2656.0595-1.6448.072-4.8493.079-3.2045.007-3.5825-.006-4.848-.0608M16.953 5.5864A1.44 1.44 0 1 0 18.39 4.144a1.44 1.44 0 0 0-1.437 1.4424M5.8385 12.012c.0067 3.4032 2.7706 6.1557 6.173 6.1493 3.4026-.0065 6.157-2.7701 6.1506-6.1733-.0065-3.4032-2.771-6.1565-6.174-6.1498-3.403.0067-6.156 2.771-6.1496 6.1738M8 12.0077a4 4 0 1 1 4.008 3.9921A3.9996 3.9996 0 0 1 8 12.0077"
          />
        </svg>
      </a>
      <a data-social="TikTok" style="--accent-color: #38142a" href="#">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <title>TikTok</title>
          <path
            d="M12.525.02c1.31-.02 2.61-.01 3.91-.02.08 1.53.63 3.09 1.75 4.17 1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97-.57-.26-1.1-.59-1.62-.93-.01 2.92.01 5.84-.02 8.75-.08 1.4-.54 2.79-1.35 3.94-1.31 1.92-3.58 3.17-5.91 3.21-1.43.08-2.86-.31-4.08-1.03-2.02-1.19-3.44-3.37-3.65-5.71-.02-.5-.03-1-.01-1.49.18-1.9 1.12-3.72 2.58-4.96 1.66-1.44 3.98-2.13 6.15-1.72.02 1.48-.04 2.96-.04 4.44-.99-.32-2.15-.23-3.02.37-.63.41-1.11 1.04-1.36 1.75-.21.51-.15 1.07-.14 1.61.24 1.64 1.82 3.02 3.5 2.87 1.12-.01 2.19-.66 2.77-1.61.19-.33.4-.67.41-1.06.1-1.79.06-3.57.07-5.36.01-4.03-.01-8.05.02-12.07z"
          />
        </svg>
      </a>
      <a data-social="Facebook" style="--accent-color: #106bff" href="#">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <title>Facebook</title>
          <path
            d="M9.101 23.691v-7.98H6.627v-3.667h2.474v-1.58c0-4.085 1.848-5.978 5.858-5.978.401 0 .955.042 1.468.103a8.68 8.68 0 0 1 1.141.195v3.325a8.623 8.623 0 0 0-.653-.036 26.805 26.805 0 0 0-.733-.009c-.707 0-1.259.096-1.675.309a1.686 1.686 0 0 0-.679.622c-.258.42-.374.995-.374 1.752v1.297h3.919l-.386 2.103-.287 1.564h-3.246v8.245C19.396 23.238 24 18.179 24 12.044c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.628 3.874 10.35 9.101 11.647Z"
          />
        </svg>
      </a>
    </div>
  </footer>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</html>
